body {
  background: #e8e8e8;
  color: #444;
  font-family: arial;
}
header {
  background: #444;
  color: #fff;
  overflow: hidden;
  padding: 0.5em;
  position: relative;
}
header .logo {
  width: 75px;
  border-right: 1px solid #22bce0;
  float: left;
}
header .logo img {
  width: 70px;
}
header .titular {
  margin: 0 100px 0 100px;
}
header .titular .filtro {
  color: #22bce0;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}
header .titular .publicar {
  background: #dd4f24;
  color: #fff;
  float: right;
  font-style: italic;
  margin: -5px 1em 0 0;
  padding: 0.2em 0.5em;
  text-decoration: none;
  text-shadow: 1px 1px 0px #000;
}
header .titular .titulo {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
header .usuario {
  position: absolute;
  right: 10px;
  top: 10px;
}
header .usuario .avatar {
  position: relative;
  margin: 0 1em 0 0;
  z-index: 2;
}
header .usuario .avatar img {
  width: 50px;
  border-radius: 50%;
}
header .usuario .flechita {
  background: #dd4f24;
  color: #fff;
  display: block;
  position: absolute;
  right: 0;
  top: 15px;
  text-align: right;
  width: 50%;
  padding: 1px;
  z-index: 0;
}
nav {
  background: #22bce0;
}
nav .menu {
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
}
nav .menu li {
  display: inline-block;
}
nav .menu li a {
  color: #fff;
  display: block;
  margin: 0 0.5em;
  padding: 0 0.2em;
  text-decoration: none;
}
